html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'open Sans', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/pieniadze.jpg");
    background-position: center;
    background-size: cover;
    min-height: 658px;
}